﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="UCTestABCD.ascx.vb" Inherits="TESCO_TMS.UCTestABCD" %>

<div class="tab-content padding tab-content-inline tab-content-bottom">
    <div class="row">
        <div class="span2">
            <button class="btn-block btn btn-large btn-green">
                <asp:Label ID="lblQNumber" runat="server"></asp:Label>
            </button>
        </div>
        <div class="span8">
            <button class="btn-block btn btn-large" style="background: #fff; text-align: left">
                <asp:Label ID="lblQDetail" runat="server"></asp:Label>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="span12"></div>
    </div>
    <asp:Panel ID="pnlQuestionABCD" runat="server" CssClass="tab-pane active" Visible="true">
        <div class="row">
            <div class="span2"></div>
            <div class="span3">
                <div id="links" class="links" runat="server">
                </div>
                <%--The Gallery as lightbox dialog, should be a child element of the document body -->--%>
               <div id="blueimp-gallery" class="blueimp-gallery">
                   <div class="slides"></div>
                   <h3 class="title"></h3>
                   <a class="prev">‹</a>
                   <a class="next">›</a>
                   <a class="close">Close</a>
                   <a class="play-pause"></a>
                   <ol class="indicator"></ol>
               </div>
                
                <video class="fullscreen-bg__video" runat="server" id="myVideo" visible="false" style='width:100%;height:100%' controls="controls" autoplay>
                    <source src="" type="video/mp4"></video>
            </div>
            <div class="span7">
                <div class="check-line">
                    <asp:CheckBox ID="ckbA" runat="server" CssClass="mycheckBig" ClientIDMode="Static" />
                    <label class='inline' for="ckbA" runat="server" id="lblA" style="width: 100%; font-size: large; color: white;"></label>
                </div>
                <div class="check-line">
                    <asp:CheckBox ID="ckbB" runat="server" CssClass="mycheckBig" ClientIDMode="Static" />
                    <label class='inline' for="ckbB" runat="server" id="lblB" style="width: 100%; font-size: large; color: white;"></label>
                </div>
                <div class="check-line">
                    <asp:CheckBox ID="ckbC" runat="server" CssClass="mycheckBig" ClientIDMode="Static" />
                    <label class='inline' for="ckbC" runat="server" id="lblC" style="width: 100%; font-size: large; color: white;"></label>
                </div>
                <div class="check-line">
                    <asp:CheckBox ID="ckbD" runat="server" CssClass="mycheckBig" ClientIDMode="Static" />
                    <label class='inline' for="ckbD" runat="server" id="lblD" style="width: 100%; font-size: large; color: white;"></label>
                </div>
            </div>
        </div>

    </asp:Panel>
    <div style="display: none">
        <asp:TextBox ID="txtTestID" runat="server"></asp:TextBox>
        <asp:TextBox ID="txtQuestionID" runat="server"></asp:TextBox>
        <asp:TextBox ID="txtQuestion_no" runat="server"></asp:TextBox>
        <asp:TextBox ID="txtCorrectChoice" runat="server"></asp:TextBox>
        <asp:TextBox ID="txtCorrectAnswer" runat="server"></asp:TextBox>
        <asp:TextBox ID="txtShowAnswer" runat="server"></asp:TextBox>
        <asp:TextBox ID="txtIconURL" runat="server"></asp:TextBox>
        <asp:TextBox ID="txtWeight" runat="server" Text="0" ></asp:TextBox>
        <asp:TextBox ID="txtIsRandomAns" runat="server" Text="N" ></asp:TextBox>
    </div>
</div>
<div class="clearfix"></div>
<div class="row-fluid">
    <div class="span5"></div>
    <div class="span2 text-center">
        <p>
            <button class="btn-block btn btn-large btn-green" runat="server" id="btnAns">ตอบ</button>
            <button class="btn-block btn btn-large" runat="server" id="btnSummary" visible="false">ผลสอบ</button>
            <button class="btn-block btn btn-large" runat="server" id="btnTest" visible="false">ผลสอบ test</button>
        </p>
    </div>
    <div class="span5"></div>
</div>

<asp:Panel ID="pnlAnsResult" runat="server" CssClass="modal hide in" TabIndex="-1" aria-hidden="false" Style="display: block;" Visible="false">
    <div class="modal-dialog modal-center">
        <div class="modal-content">
            <div class="modal-header" style="background: #019b79" id="divHeader" runat="server">
                <asp:LinkButton ID="btnCloseDialog" runat="server" CssClass="close" data-dismiss="modal" aria-hidden="true">
                    x
                </asp:LinkButton>
                <h3 class="text-center">
                    <asp:Label ID="lblDialogHead" runat="server" ForeColor="White"></asp:Label></h3>
            </div>
            <div class="modal-body text-center">
                <asp:Literal ID="litAnsDetail" runat="server"></asp:Literal>
                <asp:LinkButton ID="btnNext" runat="server" CssClass="btn btn-green" data-dismiss="modal">
                    ต่อไป
                </asp:LinkButton>
            </div>
        </div>
    </div>
</asp:Panel>

<script>
    function preventDuplicateChecked(ch)
    {

        switch (ch) {
            case 'A':                 
                if ($("#ckbA").prop("checked")) {
                    $("#ckbB").prop("checked", false);
                    $("#ckbC").prop("checked", false);
                    $("#ckbD").prop("checked", false);
                } break;
            case 'B':
                if ($("#ckbB").prop("checked")) {
                    $("#ckbA").prop("checked", false);
                    $("#ckbC").prop("checked", false);
                    $("#ckbD").prop("checked", false);
                } break;
            case 'C':
                if ($("#ckbC").prop("checked")) {
                    $("#ckbA").prop("checked", false);
                    $("#ckbB").prop("checked", false);
                    $("#ckbD").prop("checked", false);
                } break;
            case 'D':
                if ($("#ckbD").prop("checked")) {
                    $("#ckbA").prop("checked", false);
                    $("#ckbB").prop("checked", false);
                    $("#ckbC").prop("checked", false);
                } break;
        }       
    }

    $(document).ready(function () {
        $('button.btn-green').click(function () {
            $(this).css('display','none');
        });
    });
</script>

